{% load static %}
<div class="page-header">
    <div class="header-wrapper row m-0">
      <div class="header-logo-wrapper col-auto p-0">
        <div class="logo-wrapper"><p><b>Task Manager</b></p></div>
        <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="align-center"></i></div>
      </div>
      <div class="nav-right col-xxl-7 col-xl-6 col-md-7 col-8 pull-right right-header p-0 ms-auto">
        <ul class="nav-menus">
          <li class="profile-nav onhover-dropdown pe-0 py-0">
              <div class="media-body">
                <span>{{user.username}}</span>
              </div>
              <ul class="profile-dropdown onhover-show-div">
                <li><a href="{% url 'logout' %}"><i data-feather="log-in"> </i><span>Log Out</span></a></li>
              </ul>
          </li>
        </ul>
      </div>
    </div>
</div>