{% load static %}
<div class="sidebar-wrapper" sidebar-layout="stroke-svg">
    <div>
      <nav class="sidebar-main">
        <div id="sidebar-menu">
          <ul class="sidebar-links" id="simple-bar">
            <li class="sidebar-main-title">
              <div>
                <h6 class="lan-1">General</h6>
              </div>
            </li>
            <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="#">
                <span class="lan-6">Widgets</span></a>
              <ul class="sidebar-submenu">
                <li><a href="general-widget.html">General</a></li>
                <li><a href="chart-widget.html">Chart</a></li>
              </ul>
            </li>
        </div>
      </nav>
    </div>
  </div>